
{{> nav/nav-block search=false post=false user=true signup=false movie=false list=false}}


<div class="container">
  <header align="center" class="header-wrap">
  <h1>View or update your account information!</h1>
  <div class="userID">
    <h3>Welcome, {{userInfo.first_name}}</h3>
    <h5 id="account-number" data-accountemail="{{userInfo.email}}">User Email: {{userInfo.email}}</h5>
  </div>
  <hr>
  <h4 id="create-err-msg"></h4>
</header>


<form id="account-form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirst">First Name</label>
      <input type="text" class="form-control" id="inputFirst" value="{{userInfo.first_name}}" placeholder="First name" minlength="1" maxlength="255" required>
    </div>

    <div class="form-group col-md-6">
      <label for="inputLast">Last Name</label>
      <input type="text" class="form-control" id="inputLast" value="{{userInfo.last_name}}" placeholder="Last name" minlength="1" maxlength="255" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" value="{{userInfo.user_key}}" minlength="8" maxlength="8" required>
    </div>
  </div>
  

  <div>
    
    <button type="submit" id="update-user" class="btn btn-primary">UPDATE</button>
    <button type="submit" id="delete-user" class="btn btn-primary">DELETE</button>
    <button type="submit" id="maintain-user" class="btn btn-primary">REFRESH</button>
   
  </div>
    

</form>
{{!-- <div class="modal" id="delete-user-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Re-Enter Credentials to Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
              <h3 id="err-msg"></h3>
                <form>
                    <div class="form-group">
                        <label for="inputUser">ID#</label>
                        <input type="text" class="form-control" id="user_id">
                    </div>
                    <div class="form-group">
                        <label for="inputUser">Password#</label>
                        <input type="password" class="form-control" id="user_password">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="confirm-delete" type="button" class="btn btn-primary">Confirm Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nah I'll keep my user account!</button>
            </div>
        </div>
    </div>

</div> --}}
</div>
