
<div class="movie">
        <div>
            <h2>{{title}}</h2>
            <h5>{{movie_id}}</h5>

            <p>Plot: {{plot}}</p>
            <p>Release Date: {{release_date}} </p>
            <p>Budget: {{budger}}</p>
            <p>Rating: {{rating}}</p>
            <p>Rotten Tomatoes Rating: {{rotten_tomatoes}}</p>

            <div>
                 {{#if Reviews}}
                    <h4>Reviews:</h4>    
                    {{#each Reviews}}
                        <p>User Review: {{reivew_body}}</p>            
                        <p>User Rating: {{user_rating}}</p>
                        <p>Date Watched: {{watch_date}}</p>
                    {{/each}}   
                 {{/if}}  
            </div>
        </div>        
</div>
