
<div class="movie">
        <div>
            <h2>{{title}}</h2>
            <h5>{{movie_id}}</h5>
            <p>plot: {{plot}}</p>
            <p>release Dates: {{release_date}} </p>
            <p>buget: {{budger}}</p>
            <p>rating: {{rating}}</p>
            <p>rotten tomatoes: {{rotten_tomatoes}}</p>

            <div>
                 {{#if Reviews}}
                    <h4>Reviews:</h4>    
                    {{#each Reviews}}
                        <p>User Review: {{reivew_body}}</p>            
                        <p>User rating: {{user_rating}}</p>
                        <p>Date watched: {{watch_date}}</p>
                    {{/each}}   
                 {{/if}}  
            </div>
        </div>        
</div>
